basic reset{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

img, picture, svg {
    display: block;
    max-width: 100;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}