:root {
    --colour-darkblue: #000000;
    --colour-lightblue : #5261eb;
    --colour-lightgreen: #52EBA4;
    --font-primary: 'Open Sans', sans-serif;
}

body {
    font-family: var(--font-primary);
    color: var(--colour-lightgreen);
    background-color: var(--colour-darkblue);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--colour-lightgreen);
}

a {
    color: var(--colour-lightgreen);
    text-decoration: none;
}

a:hover {
    color: var(--colour-lightgreen);
    text-decoration: underline;
}

header {
    background-color: var(--colour-lightblue);
    color: var(--colour-lightgreen);
}

nav .nav-link{
    font-weight: 500;
    transition: color 0.3s ease;
    color: var(--colour-lightgreen);

}

nav .nav-link:hover {
    color: var(--colour-lightgreen)
}

.nav-link.active {
    color: var(--colour-lightgreen) !important;
    font-weight: 600;
}

footer {
    background-color: var(--colour-lightblue);
    color: var(--colour-lightgreen);
    
}

.project-card {
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.card-title {
    color: var(--colour-darkblue);
}

.card-text {
    font-size: 1rem;
}

form label {
    font-weight: 500;
    color: var(--colour-lightgreen)
}

form input, form textarea {
    border-radius: 1;
    border: 1px solid #52CCEB;
}

.logo {
    max-height: 60px;
}

html {
  scroll-behavior: smooth;
}
aside {
    position: absolute;
    right: 20px;
    top: 150px;
}
